{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block content %}
            <div class="block">
                <div class="block-content">
                    <article class="entry">
                        <header class="entry-title">
                            <h1>{{ article.title }}</h1>
                        </header>
                        <div class="entry-content">
                            {{ article.content }}
                        </div>
                    </article>
                </div>
            </div>
{% endblock content %}
