{% extends "base.html" %}
{% block content %}
            <div class="block">
                <div class="block-header">
                    <h3>最新笔记</h3>
                </div>
                <div class="block-content">
                {% for a in articles %}
                    {% if loop.first %}
                    <article class="entry">
                        <header class="entry-title">
                            <h1><a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a></h1>
                        </header>
                        <div class="entry-content">
                            {{ a.content }}
                        </div>
                    </article>
                </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="layout">
                <div id="content">
                    <div class="block">
                        <div class="block-header">
                            <h3>历史笔记</h3>
                        </div>
                        <div class="block-content">
                            <ol id="posts-list">
                            {% for a in articles %}
                                {% if not loop.first %}
                                <li>
                                    <span>{{ a.date | strftime('%Y-%m-%d') }}</span>
                                    <span><a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a></span>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
                <div id="sidebar">
                    <div class="block">
                        <div class="block-header">
                            <h3>分类</h3>
                        </div>
                        <div class="block-content">
                            <ul>
                            {% for c, null in categories %}
                                <li><a href="{{ SITEURL }}/{{ c.url }}">{{ c.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="block">
                        <div class="block-header">
                            <h3>标签</h3>
                        </div>
                        <div class="block-content">
                            <ul>
                            {% for t, null in tags %}
                                <li><a href="{{ SITEURL }}/{{ t.url }}">{{ t.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}
