{% extends "base.html" %}
{% block title %}
    {{ tag }} - {{ SITENAME }}
{% endblock %}
{% block content %}
            <div class="block">
                <div class="block-header">
                    <h3>{{ tag }}</h3>
                </div>
                <div class="block-content">
                    <ol id="posts-list">
                    {% for a in articles %}
                        <li>
                            <span>{{ a.date | strftime('%Y-%m-%d') }}</span>
                            <span><a href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a></span>
                        </li>
                    {% endfor %}
                    </ol>
                </div>
            </div>
{% endblock content %}
