body {
    font: 16px Georgia, Helvetica, "Microsoft YaHei", SimSun, Sans-Serif;
    color: #000305;
    background-color: #f5f4ef;
}
#container {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
}
#banner {
    width: 100%;
    height: 320px;
    text-indent: -9999px;
    background: url('../logo.png') no-repeat center;
}
#menu {
    border-radius: 6px;
    width: 100%;
    height: 50px;
    background-color: #000305;
}
#menu ul {
    margin: 0 20px;
    list-style-type: none;
}
#menu li {
    display: inline;
    float: left;
}
#menu a {
    display: block;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
}
#menu a:link,
#menu a:visited {
    text-decoration: none;
    color: #ffffff;
}
#menu a:hover,
#menu a:active {
    text-decoration: none;
    text-shadow: 3px 3px 3px #333333;
    color: #ffffff;
    background-color: #c74350;
}
#layout:after {
    display: block;
    clear: both;
    content: '';
}
#content,
#sidebar {
    display: inline;
    float: left;
}
#content {
    margin-right: 10px;
    width: 69%;
}
#sidebar {
    margin-left: 10px;
    width: 29%;
}
#copyright {
    margin-bottom: 20px;
    text-align: right;
}
.block {
    margin-top: 20px;
    border-radius: 6px;
    padding: 5px 10px;
    background-color: #ffffff;
}
.block-header {
    border-bottom: 5px solid #eeeeee;
    padding-left: 20px;
}
.block-content {
    padding: 0 10px;
}
.entry-title {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.entry-title a {
    text-decoration: none;
    color: #333333;
}
.entry-title a:link,
.entry-title a:visited {
	text-decoration: none;
    color: #333333;
}
.entry-title a:hover,
.entry-title a:active {
	text-decoration: none;
	text-shadow: 1px 1px 1px #333333;
    color: #000305;
}
